* {
    box-sizing:border-box;
    /* border: 1px dotted red; */
}

body {
    font-size: 16px;
}

h1 {
    color: beige;
    text-align: center;
    margin-top: 0;
}

main {
    padding: 40px;
}
header {
    background-color: rgb(10, 10, 144);
    padding-left: 1rem;
    box-shadow: 1px 1px 5px 3px #808080;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(207, 203, 203);
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
    max-width: 30%;
}

img {
    border-radius: 50%;
    height: auto;
    width: 100%;

}

div>h3 {
    color: white;
    display: center;
    text-align: center;
    font-size: 30px
}

footer {
     display: flex;
    justify-content: center;

}

#search {
    display: flex;
    justify-content: center;
    padding-left: 3rem;

}

.btn {
    margin-left: 10px;
}

#player-info {
    display: grid;
    justify-content: center;
    padding: 1rem;
    
}

.player-info {
    color: rgb(91, 91, 196);
}

#stats p {
    font-size: 10px;
}

